body{
    font-family: Arial, Helvetica, sans-serif, Helvetica Neue;
    color: #777;
    background-color: #777;
    font-size: 18px;
    width: 960px;
    text-align: center
    margin: auto;
}

#header{
    background-color: #ebebeb;
    float: none;
    text-align: center;
    padding: 20px 10px 20px 10px;
    margin: 10px 10px 10px 10px;
}

#nav{
    background-color: #ebebeb;
    float: none;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px 10px 10px;
}

#section{
    background-color: #ebebeb;
    width: 495px;
    float: left;
    padding: 
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}
#h1{
    background-color: #ebebeb;
    float: left;
    display: block;
    color: #777;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#p{
    background-color: #ebebeb;
    float: left;
    color: #777;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#aside{
    background-color: #ebebeb;
    width: 400px;
    float: right;
    display: block;
    text-align: center;
    margin: 10px;
    padding: 10px;
}

#article{
    color: #ebebeb;
    background-color: #777;
    width: 450px;
    padding: 20px, 5px, 25px, 15px;
    float: left;
    display: block;
    text-align: center;
}
#footer{
    background-color: #ebebeb;
    float: none;
    text-align: center;
    padding: 20px 10px;
    margin: 10px 10px 10px 10px;
}


/* .grid-container {
    display: block;
    grid-template-columns: auto auto auto auto;
  } */

    .clearfix::after {
    content: "body";
    display: block;
    clear: both;
    }
